.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #dfdfdf;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
