.infoTile {
    display: flex;
    border: 0.5px solid #DBDBDB;
    width: 158px;
    min-height: 76px;
    border-radius: 8px;
    justify-items: center;
    justify-content: space-between;
    padding: 12px;
    text-align: left;
}

.infoTile h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.64px;
    font-family: "Samsung Sharp Sans Medium";
}

.infoTile p {
    font-size: 10px;
    line-height: 14px;
}