.btn {
  font-family: "Samsung Sharp Sans Medium";
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn span {
  font-size: 22px;
}

.btn:hover span::before {
  color: aquamarine;
  transition: 0.25s all ease-in-out;
}

.iconBtn {
  width: 34px;
  height: 34px;
  border: 1px solid #DBDBDB;
  border-radius: 10px;
}