@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

input {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 40px;
    border: 1px solid #DBDBDB !important;
    border-radius: 8px;
    font-size: 10px;
    font-style: italic;
    font-weight: 400;
    line-height: 12.19px;
    padding: 14px 12px;
    color: #000;
}

input:placeholder {
    color: #A9A9A9;
}

.inputContainer {
    position: relative;
}

.inputIcon {
    position: absolute;
    top: 14px;
    right: 14px;
    font-size: 12px;
}

.inputIcon span::before {
    color: #E51058 !important;
}