.loginPage {
  display: grid;
  grid-template-columns: 0.1fr 1.71fr 4fr;
  grid-template-areas: "sidebar conv convDetail";
  height: 100%;
  gap: 0;
}

.sideBarContainer {
  grid-area: sidebar;
}

.conversationsContainer {
  grid-area: conv;
  justify-self: self-start;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  width: 100%;
  text-align: left;
  border-right: 1px solid #dbdbdb;
}

.conversationDetailContainer {
  grid-area: convDetail;
  width: 100%;
  text-align: left;
}

/*Mobile styles*/
@media (max-width: 600px) {
  .loginPage {
    height: max-content;
    grid-template-columns: auto;
    grid-template-areas:
      "convDetail convDetail convDetail"
      "sidebar sidebar sidebar";
  }

  .conversationsContainer {
    display: none;
  }
}